body {
  background-color: #f3f3f3;
}
.inline {
  display: flex;
  align-items: flex-start;
}
.middle {
  vertical-align: middle;
}

.mainContent {
  margin-top: 30px;
}
.navBar {
  color: white;
  justify-content: flex-start !important;
}
.navPath {
  margin-bottom: 10px;
}

#headerText {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.subHeader {
  font-weight: bold;
  margin-bottom: 15px;
}
.labeled {
  color: white;
  border-radius: 0.25rem;
  padding-left: 4px;
  padding-right: 4px;
}
.originalWord {
  color: rgb(22, 21, 21);
  background-color: #f5b642;
  border-radius: 0.25rem;
  padding-left: 4px;
  padding-right: 4px;
}
.remove {
  color: lightcoral;
  cursor: pointer;
  background: url('..//images/cancel.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.confirm {
  color: rgb(114, 143, 87);
  cursor: pointer;
  background: url('..//images/confirm.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.confirmed {
  background: url('..//images/confirm.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.unconfirmed {
  background: url('..//images/unconfirmed.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.save {
  margin-top: 20px;
}
.categoryButton {
  margin-bottom: 12px;
}
.categoryButton > :last-child {
  margin-bottom: 0 !important;
}
.projectcard {
  margin-bottom: 15px;
  width: 23rem;
}

.form-control-sm {
  margin-bottom: 10px;
  margin-right: 10px;
}
.form-bottom {
  margin-bottom: 15px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
}
.btn-outline-grey {
  color: #525f7f;
  background-color: #fff;
  text-transform: none !important;
  border-color: #dbdbdb;
}
.btn-outline-grey:focus,
.btn-outline-grey.focus {
  box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5);
}
.footer {
  margin-bottom: 20px;
  float: right;
  font-size: 13px;
  color: #95989b;
  height: 2.5rem; /* Footer height */
}
.link {
  color: #5e72e4;
  cursor: pointer;
}

#content {
  margin-left: 10%;
  margin-top: 75px;
}
#message {
  max-width: 400px;
  margin-top: 20px;
}
#categorymenu {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 2px;
  background-color: white;
  margin-left: 20px;
  padding: 15px;
}
#categorymenu > :last-child {
  margin-bottom: 0 !important;
}
#texteditor {
  white-space: pre-wrap;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  padding: 15px;
  overflow: auto;
  width: 600px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 2px;
}
#texteditorHeader {
  margin-bottom: 15px;
  font-size: 21px;
}
#categoryForm {
  margin-top: 20px;
}
