html {
  overflow-x: hidden;
}
body {
  background-color: #f3f3f3;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.inline {
  display: flex;
  align-items: flex-start;
}
.trash {
  vertical-align: top;
  margin-top: 6px;
  margin-right: 8px;
  color: #f5365c;
  cursor: pointer;
}
.wrapper {
  min-height: calc(100vh - 30px);
}
.mainContent {
  margin-top: 30px;
}
.navBar {
  color: white;
  justify-content: flex-start !important;
}
.navPath {
  margin-bottom: 10px;
}
.subHeader {
  font-weight: bold;
  margin-bottom: 15px;
}
.sub-info {
  color: #8898aa;
  font-size: 13px;
  margin-left: 6px;
  margin-top: 2px;
}
.menuHeader {
  font-weight: bold;
  margin-bottom: 10px;
}
.editForm {
  margin-top: 15px;
}
.labeled {
  color: white;
  border-radius: 0.25rem;
  padding-left: 4px;
  padding-right: 4px;
}
.originalWord {
  color: rgb(22, 21, 21);
  background-color: #f5b642;
  border-radius: 0.25rem;
  padding-left: 4px;
  padding-right: 4px;
}
.remove {
  color: lightcoral;
  cursor: pointer;
  background: url('..//images/cancel.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.confirm {
  color: rgb(114, 143, 87);
  cursor: pointer;
  background: url('..//images/confirm2.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.confirmed {
  background: url('..//images/confirm2.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
}
.unconfirmed {
  background: url('..//images/unconfirmed.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
.badge-left {
  margin-left: 5px;
}
.categoryButton {
  margin-bottom: 12px;
}
/* .categoryButton > :last-child {
  margin-bottom: 0 !important;
} */
.progress-bar {
  background-color: #525f7f;
}
.projectcard {
  margin-bottom: 15px;
  width: 23rem;
}
.form-control-sm {
  margin-bottom: 10px;
  margin-right: 10px;
}
.form-bottom {
  margin-bottom: 15px;
}
.showConfirmed {
  transform: scale(0.9);
  margin-left: 20px;
  margin-top: 5px;
}
.sidebar {
  width: auto;
  margin-left: 20px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.save {
  margin-bottom: 15px;
}
.saveButton {
  width: 100%;
  background-color: white;
}
.btn-bottom {
  margin-bottom: 10px;
}
.btn:focus,
.btn.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-outline-grey {
  color: #525f7f;
  background-color: #fff;
  text-transform: none !important;
  border-color: #dbdbdb;
}
.btn-outline-grey:focus,
.btn-outline-grey.focus {
  box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5);
}
.btn-main {
  color: #fff;
  background-color: #93c4c6;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main:hover {
  color: #fff;
  background-color: #83afb1;
  border-color: #fff;
}
.btn-steelblue {
  color: #fff;
  background-color: #4281a4;
  border-color: #4281a4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-steelblue:hover {
  color: #fff;
  background-color: #5a8ca7;
  border-color: #5a8ca7;
}
.btn-congopink {
  color: #fff;
  background-color: #fe938c;
  border-color: #fe938c;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-congopink:hover {
  color: #fff;
  background-color: #f8a9a4;
  border-color: #f8a9a4;
}
.btn-cadetgrey {
  color: #fff;
  background-color: #9cafb7;
  border-color: #9cafb7;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-cadetgrey:hover {
  color: #fff;
  background-color: #a7b4b9;
  border-color: #a7b4b9;
}
.btn-thumbleweed {
  color: #fff;
  background-color: #e6b89c;
  border-color: #e6b89c;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-thumbleweed:hover {
  color: #fff;
  background-color: #e7c0a7;
  border-color: #e7c0a7;
}
.btn-darkskyblue {
  color: #fff;
  background-color: #98c1d9;
  border-color: #98c1d9;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-darkskyblue:hover {
  color: #fff;
  background-color: #a8c8db;
  border-color: #a8c8db;
}
.btn-greensheen {
  color: #fff;
  background-color: #81b29a;
  border-color: #81b29a;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-greensheen:hover {
  color: #fff;
  background-color: #93b4a4;
  border-color: #93b4a4;
}
.btn-outline-main {
  color: #93c4c6;
  border-color: #93c4c6;
}
.btn-outline-main:hover {
  color: #fff;
  background-color: #93c4c6;
  border-color: white;
}
.btn-outline-main:focus,
.btn-outline-main.focus {
  box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #93c4c6;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #93c4c6;
  background-color: #93c4c6;
  box-shadow: none;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #cad1d7;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #93c4c6;
  border-color: #93c4c6;
  box-shadow: none;
}
.footer {
  float: right;
  padding: 0;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 13px;
  color: #95989b;
  background-color: #f3f3f3;
}
.float-right {
  float: right;
  margin-left: auto;
}
.pointer {
  cursor: pointer;
}
.link {
  color: #5e72e4;
  cursor: pointer;
}
.link:hover {
  color: #233dd2;
}
.card-body {
  padding-bottom: 10px;
}
.textmenu {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 2px;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
}
.textmenu > :last-child {
  margin-bottom: 0 !important;
}
.alert-success {
  background-color: #93c4c6;
}
.alert-warning {
  background-color: #ed6a5a;
}

#headerText {
  color: white;
  font-size: 26px;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-left: 10px;
}
#content {
  margin-left: 10%;
  margin-top: 75px;
}
#message {
  max-width: 368px;
  margin-top: 20px;
}

#texteditor {
  white-space: pre-wrap;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  padding: 15px;
  overflow: auto;
  width: 600px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 2px;
}
#texteditorHeader {
  margin-bottom: 15px;
  font-size: 21px;
}
#texts {
  max-height: 45vh;
  margin-bottom: 10px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #f4f5f7 white;
}
#texts::-webkit-scrollbar {
  width: 8px;
}
#texts::-webkit-scrollbar-track {
  background: white;
}
#texts::-webkit-scrollbar-thumb {
  background-color: #f4f5f7;
  border-radius: 20px;
}
