# Change the necessary settings and remove '.example' from the name. You should end up with a '.env' file in your Labelit root folder
# Change admin password to any string
ADMIN_PASSWORD=t0

# Change to any random string (16 characters). Don't change the var after starting a project! This is used to hash passwords and to increase the encryption strength. 
SECRET=3450482QT340912A


# The following settings only need to be changed if you run Labelit remotly

# No need to change if running on localhost
MONGODB_URI=mongodb://localhost/labelit

# Usually you don't need to change the port
PORT=8000

# Only change this setting, when you want to run Labelit remotely
REMOTE_MODE = false