<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>LableIt - Editor</title>
    <meta name="description" content="Anonmize and annotate text" />
    <meta name="author" content="Mirobit" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.ico"
    />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>

  <body>
    <!-- contenteditable -->
    <div class="inline">
      <div
        id="texteditor"
        class="texteditor"
        onclick="window.editor.clickWord()"
      ></div>
      <div id="labelmenu"></div>
    </div>

    <div class="save">
      <button
        id="savetext"
        type="button"
        class="btn btn-success"
        onclick="window.editor.saveText()"
      >
        Save
      </button>
    </div>

    <script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/vendor/jshashes.min.js"></script>
    <script type="module">
      import * as editor from '../js/editor.js'
      window.editor = editor
      editor.initTextEditor()
    </script>
  </body>
</html>
