<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>LableIt - Projects</title>
    <meta name="description" content="Anonmize and annotate text" />
    <meta name="author" content="Mirobit" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.ico"
    />

    <link rel="stylesheet" href="../vendor/argon-design-system-react.css" />
    <link
      rel="stylesheet"
      href="../vendor/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav
      class="navbar-horizontal navbar-dark bg-default navbar navbar-expand-lg"
    >
      <div class="container navBar">
        <i class="fa fa-file-text-o fa-lg" style="margin-right: 10px;"></i>
        <span id="headerText">Labelit</span>
      </div>
    </nav>
    <div class="container mainContent">
      <div id="navPathHeader"></div>
      <div id="passwordForm" hidden>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          id="password"
          aria-describedby="passwordHelp"
          minlength="4"
        />
        <small id="passwordHelp" class="form-text text-muted"
          >Project password</small
        >
        <button
          type="button"
          class="btn btn-primary"
          id="submitPassword"
          onclick="window.editor.submitPassword()"
        >
          <i class="fa fa-unlock-alt fa-lg" style="margin-right: 10px;"></i
          >Submit
        </button>
      </div>
      <div id="textForm" hidden>
        <div class="inline">
          <div>
            <div
              id="texteditor"
              class="texteditor"
              onclick="window.editor.clickWord()"
            ></div>
            <div class="save">
              <button
                id="savetext"
                type="button"
                class="btn btn-primary"
                onclick="window.editor.updateText()"
              >
                Save
              </button>
            </div>
          </div>

          <div>
            <div id="labelmenu"></div>
            <div class="pagination">
              <button type="button" class="btn btn-outline-grey btn-sm">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Prev
              </button>
              <button type="button" class="btn btn-outline-grey btn-sm">
                Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="message"></div>

      <script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
      <script src="../js/vendor/bootstrap.bundle.min.js"></script>
      <script
        type="text/javascript"
        src="../js/vendor/jshashes.min.js"
      ></script>
      <script type="module">
        import * as editor from '../js/editor.js'
        window.editor = editor
        editor.initTextEditor()
      </script>
    </div>
  </body>
</html>
