<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>LableIt - Projects</title>
    <meta name="description" content="Anonmize and annotate text" />
    <meta name="author" content="Mirobit" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.ico"
    />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <strong>Create a new Project</strong>
          <br /><br />
          <form>
            <div class="form-group">
              <label for="projectname">Name</label>
              <input
                type="text"
                class="form-control"
                id="projectname"
                aria-describedby="nameHelp"
              />
              <small id="nameHelp" class="form-text text-muted"
                >Unique project name</small
              >
            </div>
            <div class="form-group">
              <label for="projectdescription">Description</label>
              <input
                type="text"
                class="form-control"
                id="projectdescription"
                aria-describedby="descriptionHelp"
              />
              <small id="descriptionHelp" class="form-text text-muted"
                >Addtional project description</small
              >
            </div>
            <div class="form-group">
              <label for="filePath">Data Source</label>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="filePath"
                  aria-describedby="fileHelp"
                />
                <label class="custom-file-label" for="filePath"
                  >Choose file</label
                >
              </div>
              <small id="fileHelp" class="form-text text-muted"
                >Multiple file import not supported yet</small
              >
            </div>
            <button
              type="button"
              class="btn btn-primary"
              onclick="window.createProject()"
            >
              Create Project
            </button>
          </form>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <strong>List of Projects</strong>
          <div id="projectlist"></div>
        </div>
      </div>
    </div>

    <script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script type="module">
      // Init
      import { createProject, initProjectList } from '../js/projects.js'
      window.createProject = createProject
      initProjectList()

      // Name of file in custom file upload input
      $('.custom-file-input').on('change', function() {
        var fileName = $(this)
          .val()
          .split('\\')
          .pop()
        $(this)
          .siblings('.custom-file-label')
          .addClass('selected')
          .html(fileName)
      })
    </script>
  </body>
</html>
