<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>LableIt - Projects</title>
    <meta name="description" content="Anonmize and annotate text" />
    <meta name="author" content="Mirobit" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.ico"
    />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <strong>Create a new Project</strong>
          <br /><br />
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="name"
                id="name"
                aria-describedby="nameHelp"
              />
              <small id="nameHelp" class="form-text text-muted"
                >Unique project name</small
              >
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input
                type="text"
                class="form-control"
                placeholder="description"
                id="description"
                aria-describedby="descriptionHelp"
              />
              <small id="descriptionHelp" class="form-text text-muted"
                >Addtional project description</small
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="form-check form-check-inline">
                <input
                  style="width:170px;margin-right:10px"
                  type="password"
                  placeholder="password"
                  class="form-control"
                  id="password"
                  aria-describedby="passwordHelp"
                />
                <input
                  style="width:170px"
                  type="password"
                  placeholder="repeat password"
                  class="form-control"
                  id="passwordRepeat"
                  aria-describedby="passwordHelp"
                />
              </div>
              <small id="passwordHelp" class="form-text text-muted"
                >The password is used to store all texts encrypted in the
                db</small
              >
            </div>
            <div class="form-group">
              <label for="folderPath">Data Source</label>
              <input
                type="text"
                class="form-control"
                id="folderPath"
                placeholder="C:\projectfolder"
                aria-describedby="folderPathHelp"
              />
              <small id="folderPathHelp" class="form-text text-muted"
                >Path to the folder with the .txt files</small
              >
            </div>
            <button
              type="button"
              class="btn btn-primary"
              onclick="window.createProject()"
            >
              Create Project
            </button>
          </form>
          <div id="message"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <strong>List of Projects</strong>
          <div id="projectlist"></div>
        </div>
      </div>
    </div>

    <script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script type="module">
      // Init
      import { createProject, initProjectList } from '../js/projects.js'
      window.createProject = createProject
      initProjectList()
    </script>
  </body>
</html>
