<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>LableIt - Projects</title>
    <meta name="description" content="Anonmize and annotate text" />
    <meta name="author" content="Mirobit" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.ico"
    />

    <link rel="stylesheet" href="../vendor/argon-design-system-react.css" />
    <link
      rel="stylesheet"
      href="../vendor/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav
      class="navbar-horizontal navbar-dark bg-default navbar navbar-expand-lg"
    >
      <div class="container navBar">
        <i class="fa fa-file-text-o fa-lg" style="margin-right: 10px;"></i>
        <span id="headerText">Labelit</span>
      </div>
    </nav>
    <div class="container mainContent">
      <div class="row">
        <div class="col-5">
          <div class="subHeader">New Project</div>
          <form>
            <div class="row form-bottom">
              <div class="col-6">
                <input
                  type="text"
                  class="form-control-alternative form-control"
                  placeholder="Name"
                  id="name"
                  aria-describedby="nameHelp"
                />
                <small id="nameHelp" class="form-text text-muted"
                  >Unique project name</small
                >
              </div>

              <div class="col-6">
                <input
                  type="text"
                  class="form-control-alternative form-control"
                  placeholder="Description"
                  id="description"
                  aria-describedby="descriptionHelp"
                />
                <small id="descriptionHelp" class="form-text text-muted"
                  >Addtional project description</small
                >
              </div>
            </div>
            <div class="row form-bottom">
              <div class="col-6">
                <input
                  type="password"
                  placeholder="Password"
                  class="form-control-alternative form-control"
                  id="password"
                  aria-describedby="passwordHelp"
                />
              </div>
              <div class="col-6">
                <input
                  type="password"
                  placeholder="Repeat password"
                  class="form-control-alternative form-control"
                  id="passwordRepeat"
                  aria-describedby="passwordHelp"
                />
              </div>
              <div class="col-12">
                <small id="passwordHelp" class="form-text text-muted"
                  >The password is used to store all texts encrypted in the
                  db</small
                >
              </div>
            </div>
            <div class="row form-bottom">
              <div class="col-12">
                <input
                  type="text"
                  class="form-control-alternative form-control"
                  id="folderPath"
                  placeholder="C:\projectfolder"
                  aria-describedby="folderPathHelp"
                />
                <small id="folderPathHelp" class="form-text text-muted"
                  >Path to the folder with the .txt files</small
                >
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="custom-control custom-checkbox mb-3">
                  <input
                    class="custom-control-input"
                    id="customCheck1"
                    type="checkbox"
                  /><label
                    class="custom-control-label text-muted"
                    for="customCheck1"
                    >Enable classification of tetxs</label
                  >
                </div>
              </div>
              <div class="col-6">
                <!-- empty for now -->
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              onclick="window.createProject()"
            >
              Create Project
            </button>
          </form>
          <div id="message"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <div class="subHeader">List of Projects</div>
          <div id="projectlist"></div>
        </div>
      </div>
    </div>

    <script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script type="module">
      // Init
      import { createProject, initProjectList } from '../js/projects.js'
      window.createProject = createProject
      initProjectList()
    </script>
  </body>
</html>
