body {
  background-color: #f3f3f3;
}
.inline {
  display: flex;
  align-items: flex-start;
}
.middle {
  vertical-align: middle;
}
.container {
  margin-top: 40px;
  margin-left: 40px;
}
.labeled {
  color: white;
  border-radius: 0.25rem;
  padding-left: 4px;
  padding-right: 4px;
}
.originalWord {
  color: rgb(22, 21, 21);
  background-color: #f5b642;
  border-radius: 0.25rem;
  padding-left: 4px;
  padding-right: 4px;
}
.remove {
  color: lightcoral;
  cursor: pointer;
  background: url('..//images/cancel.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.confirm {
  color: rgb(114, 143, 87);
  cursor: pointer;
  background: url('..//images/confirm.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.confirmed {
  background: url('..//images/confirm.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.unconfirmed {
  background: url('..//images/unconfirmed.png');
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.save {
  margin-top: 20px;
}
.labelButton {
  margin-bottom: 12px;
}
.labelButton > :last-child {
  margin-bottom: 0 !important;
}
.projectcard {
  margin-top: 20px;
}
.form-control-sm {
  margin-bottom: 10px;
  margin-right: 10px;
}

#content {
  margin-left: 10%;
  margin-top: 75px;
}
#passwordForm {
  margin: 20px;
  width: 200px;
}
#message {
  max-width: 400px;
  margin-top: 20px;
}
#labelmenu {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  background-color: white;
  margin-left: 20px;
  padding: 15px;
}
#labelmenu > :last-child {
  margin-bottom: 0 !important;
}
#texteditor {
  white-space: pre-wrap;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  padding: 15px;
  overflow: auto;
  width: 600px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
#texteditorHeader {
  margin-bottom: 15px;
  font-size: 21px;
}
#categoryForm {
  margin-top: 20px;
}
#projectForm {
  margin-top: 20px;
}
